html,
body,
#root {
  width: 100%;
  height: 100%;
  font-size: 16px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#page {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  .outer-layout {
    width: 100%;
    height: auto;
    text-align: center;
  }

  .inner-layout {
    width: auto;
    height: auto;
    margin: 0 auto;
    max-width: 75rem;
  }
}
