.logo {
	color: $logo-color-green;
    display: flex;
    align-items: center;
    margin: 0.5rem 0;

	.logo--icon {
		font-size: 3rem;
		font-weight: bold;
		margin-right: 0.2rem;
	}

	.logo--text {
		.logo--text--title {
            font-size: 1.5rem;
            font-weight: bold;
		}
		.logo--text--sub-title {
			font-size: 1rem;
		}
	}
}
