.navigation {
    background-color: $background-color-ivory;
    color: $logo-color-blue-green;

    a {
        font-size: 1rem;
        line-height: 3rem;
        margin: 0.5rem 1rem;
        color: $logo-color-blue-green;
        cursor: pointer;

        &:hover {
            color: $logo-color-blue;
        }

        &:active {
            font-weight: bold;
            color: $logo-color-green;
        }
    }
}