.auth-form {
	h3 {
		margin: 0;
		color: $oc-gray-8;
		margin-bottom: 1rem;
	}

	.styled-input {
		font-size: 1rem;
		border: none;
		border-bottom: 1px solid $oc-gray-5;
		padding-bottom: 0.5rem;
		outline: none;
		width: 100%;
		&:focus {
			color: $oc-teal-7;
			border-bottom: 1px solid $oc-gray-7;
		}
		& + & {
			margin-top: 1rem;
		}
	}

	.error-message {
		color: red;
		text-align: center;
		font-size: 0.875rem;
		margin-top: 1rem;
	}

	.footer {
		margin-top: 2rem;
		text-align: right;
		a {
			color: $oc-gray-6;
			text-decoration: underline;
			&:hover {
				color: $oc-gray-9;
			}
		}
	}
}
