Footer {
    width: 100%;
    margin-top: auto;
    background-color: $background-color-brown;
    color: white;
    text-align: center;
    padding: 0.5rem 0;

    .title {
        font-weight: bold;
        font-size: 1.5rem;
        margin-bottom: 0;
    }

    .information {
        margin: 0;
    }

    .copyright {
        margin: 0;
    }
}