.outer-layout.header {
	background-color: $background-color-brown;
	color: white;
	border-bottom: 1px solid black;

	.inner-layout.header {
		display: flex;

		.header--left {
			width: 25%;
		}

		.header--center {
			width: 50%;
			display: flex;
			align-items: center;
			justify-content: center;

			a {
				color: #ffffff;
			}

			a:hover {
				color: $logo-color-blue;
			}

			a.active {
				color: $logo-color-green;
				font-weight: bold;
			}
		}

		.header--right {
			width: 25%;
		}
	}
}
