.outer-layout.header {
	background-color: $background-color-brown;
	color: white;
	border-bottom: 1px solid black;

	.inner-layout.header {
		display: flex;

		.header--left {
			width: 25%;
		}

		.header--center {
			width: 50%;
			display: flex;
			align-items: center;
			justify-content: center;

			a {
				color: #ffffff;
			}

			a:hover {
				color: $logo-color-blue;
			}

			a.active {
				color: $logo-color-green;
				font-weight: bold;
			}
		}

		.header--right {
			width: 25%;
			display: flex;
			align-items: center;
			justify-content: flex-end;
			font-size: 2.5rem;
			color: $logo-color-green;

			.user-info {
				font-weight: 800;
				font-size: 1.5rem;
				margin-right: 1rem;
				margin-top: 0.5rem;
			}
			a {
				width: 4rem;
			}
		}
	}
}
