#page {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

#page .outer-layout {
  width: 100%;
  height: auto;
}

#page .inner-layout {
  width: auto;
  height: auto;
  margin: 0 auto;
  max-width: 75rem;
}

.outer-layout.header {
  background-color: #241a18;
  color: #71c0de;
  text-align: center;
  border-bottom: 1px solid black;
}

Footer {
  width: 100%;
  margin-top: auto;
  background-color: #241a18;
  color: white;
  text-align: center;
}
