  #page {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  .outer-layout.header {
    width: 100%;
    height: auto;
    background-color: #241a18;
    color: #71c0de;
    text-align: center;
    border-bottom: 1px solid black;

    .inner-layout {
      width: auto;
      height: auto;
      margin: 0 auto;
      max-width: 75rem;
    }
  }
}

Footer {
  width: 100%;
  margin-top: auto;
  background-color: #241a18;
  color: white;
  text-align: center;
}
